.modal {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #3b3a37a6;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 1rem;
}

.info-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-area {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.btn-close {
    border: none;
    outline: none;
    padding: 0.5rem;
    font-weight: 900;
    font-size: 11pt;
    background: #0582ca;
    border-radius: 0.4rem;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.btn-close:hover {
    padding: 0.7rem;
    background: #04476e;
}

@media screen and (max-width: 480px){
    .modal {
        width: 350px;
    }
}